@import 'colors'

.app
  background-color: $bkg
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  color: $text

.listitem
	background-color: $hTwo
	width: 100%
	border-radius: 5px
	padding: 10px
	margin: 2.5px 0
	h4
		margin: 5px 0
	p
		margin: 5px 0

.result
	margin-left: 40px

div.search 
	width: 55%
	.input
		input
			background: $bkg
			outline: none
			width: 100%
			color: $text
			font-size: 1em
			padding: 10px
			border: 1px solid $hTwo
			border-radius: 5px


a 
	color: $text
	text-decoration: underline 
	text-decoration-color: $hOne
	outline: none

h1
	color: $hOne
